//ENCABEZADO

.header {
  display: grid;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;

  font-weight: 600;
  text-align: center;
}

//CONTENEDORES

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  padding: 0;
  margin: 0;
}

.contenedor-texto {
  display: block;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0;
  margin-top: px-a-rem(270px);
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  background-color: #fff;

  @media (min-width: $mqTablet) {
    max-width: 90%;
    padding-bottom: px-a-rem(50px);
    margin-top: px-a-rem(200px);
  }

  @media (min-width: $mqPC) {
    max-width: 60%;
  }
}

.receta,
.mas-info,
.comentarios {
  padding: 2rem;
  padding-top: 4rem;

  @media (min-width: $mqTablet) {
    padding: 4rem;
    padding-bottom: 0;
  }
}

.cuadro {
  padding: 1.5rem;
  margin-top: 3rem;
  margin-right: 0;
  margin-bottom: 4rem;
  margin-left: 0;
  
  @include borde-redondo(10%);
}

//PIE DE PÁGINA

.pie {
  padding-top: 3rem;
  background-color: $color-principal;

  @media (min-width: $mqTablet) {
    padding-top: 2rem;
  }
}
