/*ESTILOS DEL ENCABEZADO*/

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  max-width: 100px;
  height: auto;

  @media (min-width: $mqTablet) {
    max-width: 140px;
  }
}

.portada {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  justify-content: center;
  align-content: center;

  height: 120px;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-image: url("../images/portada_rvb.webp");
  background-size: cover;

}

.menu-principal {
  position: fixed;
  right: 0;
  left: 0;
  top: 150px;
  
  height: auto;
  padding: 0.7rem;

  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: #fff;

  border-bottom: $color-secundario 1px solid;

  @media (min-width: $mqTablet) {
    display: flex;
    
    height: 50px;

    font-size: 0.9rem;
  }

  @media (min-width: $mqPC) {
    height: 40px;

    font-size: 1rem;
  }

  ul {
    padding: 0;
    list-style-type: none;

    li {
      padding: 0.1em;

      @media (min-width: $mqTablet) {
        display: inline-block;

        padding-left: 3em;
        padding-right: 3em;
      }

      @media (min-width: $mqPC) {
        padding-left: 1.5em;
        padding-right: 1.5em;
      }

      a {
        color: $color-texto;
        text-decoration: none;
      }

      a:hover {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        padding-left: 5rem;
        padding-right: 5rem;
        
        color: #fff;
        background-color: $color-secundario;

        @media (min-width: $mqTablet) {
          padding: 0.4rem;
        }

        @media (min-width: $mqPC) {
          padding: 0.3rem;
        }
      }
    }
  }

}




/*ESTILOS DEL CUERPO*/

.ingredientes {
  background-color: $color-fondo;
}

.consejo {
  color: #fff;
  background-color: $color-principal;

  h3 {
    text-decoration: underline wavy;
  }
}

.foto {
  max-width: 100%;
  height: auto;
}

.etiquetas {
  display: flex;
  justify-content: center;

  font-size: 0.8rem;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: inline-block;
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      
      a {
        border: $color-secundario 1px solid;
        padding: 0.3rem;
      }

      a:hover {
        color: #fff;
        background-color: $color-secundario;
      }
    }
  }
}

.tarjetas {
  display: block;
  
  margin: 0;
  padding: 1rem;
}

.bloque {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-auto-rows: minmax(300px);
  gap: 20px 20px;
  justify-content: center;

	margin-bottom: 2rem;
	max-width: 300px;
  max-height: 300px;
  padding: 0.5rem;

  @media (min-width: $mqTablet) {
    gap: 40px 40px;

    max-width: 350px;
    max-height: 350px;
  }


  h3 {
    align-content: center;

    margin: 0;
    padding: 0;

    font-size: 1.2rem;
    text-align: center;
  }
}

.card {
  display: block;

  max-width: 300px;
  width: 100%;
  height: auto;

  border-radius: 50%;
}


//ESTILOS DEL PIE DE PÁGINA

.redes {
  display: flex;
  justify-content: center;
  align-content: center;

  ul {
    padding: 0;
    list-style-type: none;

    li {
      display: inline-block;
    }
  }
}



