<footer>

  <div class="info-contacto">

    <p>I Jornadas de Econcmía Circular. Cierra el círculo: del residuo al recurso</p>
    <p>Universidad Oberta de Catalunya y Ayuntamiento de Guardamar del Segura</p>
    <p><a href="mailto:#">info@ijornadasec.com</a></p>

    <div class="separador"></div>

  </div>

  <div class="pie-completo container">

    <div class="row">

      <div class="logo-foot col-sm-2">
        <picture>
          <source srcset="./assets/images/logo-imagen.png" />
          <a href="index.html"><img class="logo-sm" src="./assets/images/logo-imagen.png" alt="I Jornadas de Economía Circular"/></a>
        </picture>
      </div>

      <div class="menu-footer col-sm-8 container">
        <ul class="row">
          <li class="col-sm"><a href="index.html">INICIO</a></li>
          <li class="col-sm"><a href="articulo.html">NOTICIAS</a></li>
          <li class="col-sm"><a href="ponentes.html">INVITADOS</a></li>
          <li class="col-sm"><a href="formulario.html">INSCRIPCIÓN</a></li>
        </ul>
      </div>

      <div class="menu-redes col-sm-2 container">
        <ul class="row">
          <li class="col"><a href="#" rel="external" title="Abre Instagram en ventana nueva"><img src="./assets/images/instagram.svg" alt="Logo de Instagram" width="20" height="20"></a></li>
          <li class="col"><a href="#" rel="external" title="Abre Twitter en ventana nueva"><img src="./assets/images/twitter.svg" alt="Logo de Twitter" width="20" height="20"></a></li>
          <li class="col"><a href="#" rel="external" title="Abre YouTube en ventana nueva"><img src="./assets/images/youtube.svg" alt="Logo de YouTube" width="20" height="20"></a></li>
        </ul>
      </div>

    </div>

  </div>


</footer>