<header>

      <div class="header-container">

        <div>
          <picture class="logo-cont">
            <source srcset="./assets/images/logo-texto.png" />
            <a href="index.html"><img class="logo" src="./assets/images/logo-texto.png" alt="I Jornadas de Economía Circular"/></a>
          </picture>
        </div>

        <div class="menu-nav container">
          <ul class="row">
            <li class="col-sm"><a href="articulo.html">NOTICIAS</a></li>
            <li class="col-sm"><a href="ponentes.html">INVITADOS</a></li>
            <li class="col-sm"><a href="formulario.html">INSCRIPCIÓN</a></li>
          </ul>
        </div>

      </div>

    </header>