@use 'sass:color';

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');

$fuente-principal: 'Nunito Sans', sans-serif;

$color-principal: #39c1f1;
$color-secundario: #00446a;
$color-complemento: #a5cf4f;
$color-titulo: color.scale($color-principal, $lightness: -20%);
$color-texto: color.scale($color-secundario, $lightness: -40%);
$color-fondos: color.scale($color-complemento, $lightness: 80%);
$color-formulario: oklch(90% 0.15 240);


$mqTablet: 500px;
$mqPC: 850px;

@function transparencia($color, $alpha) {
  @return rgba($color, $alpha);
}


$form-check-padding-start: 0;
$form-check-input-checked-bg-color: #a5cf4f;